/* Imports */
@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

/* Variables */
:root {
  /* Fonts */
  --sans-serif: "Urbanist", sans-serif;

  /* Colors */
  --primary: #fc5a3e;
  --secondary: #e3c39e;
  --tertiary: #fff0e1;
  --dark: #2f2f2f;
  --dark-alt: #606364;
  --light: #ffffff;
  --light-alt: #f5f5f5;

  --gray: #dddddd;

  --shadow1: 0 0 50px 0 #dddddd;
  --shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Default */
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scrollbar-color: var(--primary) transparent;
  scrollbar-width: thin;
}
*::selection {
  background: var(--dark);
  color: var(--light);
}
::-webkit-scrollbar {
  width: 5px;
  background: var(--dark);
}
::-webkit-scrollbar-thumb {
  background: var(--primary);
}

html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  font-family: var(--sans-serif);
  background: var(--light-alt);
  overflow-x: hidden;
  position: relative;
}
h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
b,
i,
u,
ul,
ol,
li,
span {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  line-height: 100%;
}
a:hover {
  text-decoration: none;
}
img,
video {
  width: 100%;
}
p {
  font-size: 18px;
  font-weight: 500;
  color: var(--dark-alt);
  line-height: 160%;
  letter-spacing: 0.5px;
}
p a {
  color: var(--primary);
  transition: 0.5s ease all;
}
p a:hover {
  color: var(--primary);
}
p b {
  font-weight: 600;
}

/* Container */
.container {
  width: 100%;
  max-width: 1142px;
  margin: auto;
  position: relative;
}

/* Flex */
.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex-start {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.flex-end {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/* Button */
.button {
  display: inline-block;
  padding: 10px 20px;
  background: var(--light-alt);
  border-radius: 50px;
  border: 1px solid var(--gray);
  font-size: 16px;
  font-weight: 600;
  color: var(--dark);
  transition: 0.5s ease all;
}
.button:hover {
  border-color: var(--secondary);
  background: var(--secondary);
}
.button-primary {
  background: var(--dark);
  border-color: var(--dark);
  color: var(--light);
}
.button-secondary {
  background: var(--primary);
  border-color: var(--primary);
  color: var(--light);
}
.button-2 {
  background: gray;
  border-color: var(--light);
  color: var(--dark);
}
